<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>


<!-- To do:
 Fer que apt.title sigui un enllaç al detall de l'apartament (server).-->

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <main class="container">
        <h1>Reserva ya tu apartamento en KiHome</h1>
        <section>
            <% allApartments.forEach(function(apt) { %>
                <article>
                    <header>
                        <a href="/apartment/<%= apt._id %>">
                            <%= apt.title %>
                        </a>
                    </header>
                    <img src="<%= apt.mainPhoto %>" alt="<%= apt.title %>">
                    <p>
                        <%= apt.price %> €
                    </p>
                    <p>
                        <%= apt.squareMeters %> <sup>2</sup>
                    </p>
                    <% if (apt.services && apt.services.length> 0) { %>
                        <ul>
                            <% apt.services.forEach(function(service) { %>
                                <% if (serviceIcons[service]) { %>
                                    <li>
                                        <%= serviceIcons[service] %>
                                    </li>
                                    <% } %>
                                        <% }); %>
                        </ul>
                        <% } %>
                </article>
                <% }); %>

        </section>
    </main>

    <footer>
        <%- include('partials/footer.ejs'); %>
    </footer>
</body>

</html>