<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiHome Apartments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    <main class="container">
        <h1>Reserva ya tu apartamento en Brava Book</h1>
        <section>
            <% allApartments.forEach(function(apt) { %>
                <article>
                    <header>
                        <%= apt.title %>
                    </header>
                    <img src="<%= apt.mainPhoto %>" alt="<%= apt.title %>">
                    <p>
                        <%= apt.price %> €
                    </p>
                    <p>
                        <%= apt.squareMeters %> <sup>2</sup>
                    </p>
                    <% if (apt.services && apt.services.length> 0) { %>
                        <ul>
                            <% apt.services.forEach(function(service) { %>
                                <% if (serviceIcons[service]) { %>
                                    <li>
                                        <%= serviceIcons[service] %>
                                    </li>
                                    <% } %>
                                        <% }); %>
                        </ul>
                        <% } %>
                </article>
                <% }); %>

        </section>
    </main>
</body>

</html>